.content
	{
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: white;
		font-size: 1.25em;
		background-color: black;
		margin: auto;
		display: block;
		width: 50%;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
.navigation
	{
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		color: white;
		font-size: 1.4em;
		background-color: black;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px;
		border: 3px solid #B37700;
		padding: 30px;
	}
	
.padding 
	{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		border: 3px dotted #B37700;
		border-radius: 10px;
	}

.justify
	{
		text-align: justify;
	}
	
.pagenotfound
	{
		font-size: 20pt;
	}

.currentpage
	{
		border: 2px dotted #B37700;
		padding: 2px;
	}
	
header 
	{
		border: 3px solid #B37700;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		width: 40%;
		margin: auto;
		padding-bottom: 40px;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
h1, h2, h3, strong
	{
		text-shadow: 0px 4px 4px #B97B00;
	}
	
h2
	{
		text-decoration: underline;
	}
	
footer
	{
		font-size: 0.75em;
		color: gray;
	}

div
	{
		border: 5px solid #B37700;
		border-radius: 200px 200px 50px 50px;
		padding-left: 20px;
		padding-right: 20px;
		box-shadow: 0px 0px 15px 5px rgba(185,123,0,0.8);
	}

a
	{
		color: white;
		text-decoration: none;
	}

a:hover
	{
		color: #B37700;
	}

strong
	{
		text-weight: bold;
		text-align: center;
	}
	
img
	{
		border: 5px solid #B37700;
	}

form 
	{
		border: 3px dotted #B37700;
		border-radius: 30px;
		margin: 40px;
		padding: 20px;
	}
	
input, select, textarea, button
	{
		padding: 10px;
		margin: 10px;
		border: 3px solid #B37700;
		border-radius: 10px;
	}
	
input:focus, select:focus, textarea:focus, button:hover
	{
		box-shadow: 0px 0px 15px 5px rgba(185,123,0,0.8);
	}
	
button 
	{
		width: 30%;
		padding: 20px;
		cursor: pointer;
		font-size: 12pt;
	}
