.content {
	max-width: 960px;
	margin: auto;
	border: 5px solid white;
	padding: 20px;
	background: #2E3033;
	color: white;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#disclaimer {
	font-size: 10pt;
	color: gray;
}

#navlinks {
	/* at present, navlinks show up as blue/purple. change this!! */
	font-size: 1.3em;
}

#homeimage {
	border: 5px solid black;
}

h1 {
	font-size: 2.5em;
}

body {
	font-size: 14pt;
}



